{% extends 'base.html' %}
{% block head %}
<!-- <script src="{{url_for('static',filename ='js/alpine.min.js')}}" defer="defer"></script> --->
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
{% endblock %}
{% block content %}
{% if g.user.profile == 1 %}

<div>
    <header>
        <nav class="navbar d-flex flex-wrap justify-content-between fixed-top px-4 py-2 navbar-dark bg-dark">
            <a href="#" class="text-decoration-none">
                <img src="{{url_for('static',filename='images/logo.svg')}}" alg="logo" width="40" height="40" class="d-inline-block align-text-top">
            </a>
            <div class="col text-end">
                <a type="button" class="btn btn-outline-primary me-2" href="{{ url_for('admin.editquest',id = 0) }}">Nouveau</a>
                <a class="text-decoration-none me-3" href="{{ url_for('session.index') }}">
                    <svg class="bi" width="36" height="36"><use xlink:href="#home"/></svg>
                </a>
            </div>
        </nav>
    </header>
    
    <main>
        <div class="album py-5 bg-body-tertiary mt-5">
            <div class="container p-4">
                <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-3">
                {% for question in questions %}
                <div class="col">
                    <div class="card shadow" x-data="{images:{{question.image}}}">
                        <template x-if="images.length === 1">
                            <img :src="images[0].path" class="card-img-top d-block img-fluid" alt="" width="300" height="200" loading="lazy"/>
                        </template>
                        <template x-if="images.length > 1">
                        <div id="{{'carousel' ~ loop.index}}" class="carousel slide">
                            <div class="carousel-indicators"> 
                                <template x-for="index in images.length">
                                    <button type="button" data-bs-target="{{'#carousel' ~ loop.index}}" :data-bs-slide-to="index-1" :aria-label="`Slide ${index}`" :class="index === 1 && 'active'" :aria-current="index === 1 && 'true'"></button>
                                </template>
                            </div>
                            <div class="carousel-inner card-img-top">
                                <template x-for="(image,index) in images">
                                <div class="carousel-item" :class="index === 0 && 'active'">
                                    <img :src="image.path" class="d-block mx-auto img-fluid" alt="" width="300" height="200" loading="lazy">
                                </div>
                                </template>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="{{'#carousel' ~ loop.index}}" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="{{'#carousel' ~ loop.index}}" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        </template>
                        <div class="card-body">
                            <h5 class="card-title">{{ question.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ question.body }} </h6>
                            {% if question.choice|length == 1%}
                                <h6 class="text-muted">Proposition: 
                                    <span class="text-body">{{ question.choice[0].title }}</span> 
                                </h6> 
                            {% elif question.choice|length > 1 %}
                                <h6 class="text-muted"> Propositions:
                                    {% for choice in question.choice %}
                                        <span class="text-body">{{ choice.title }}</span> 
                                    {% endfor%}
                                </h6> 
                            {% endif %}
                            {% if question.answer|length == 1%}
                            <h6 class="text-muted">Réponse: 
                                <span class="text-body">{{ question.answer[0].title }}</span> 
                            </h6> 
                            {% elif question.answer|length > 1 %}
                                <h6 class="text-muted"> Réponses:
                                    {% for answer in question.answer %}
                                        <span class="text-body">{{ answer.title }}</span> 
                                    {% endfor%}
                                </h6> 
                            {% endif %}
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('admin.deletequest', id=question['id']) }}">Effacer</button>
                                  <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('admin.editquest', id=question['id']) }}">Éditer</a>
                                </div>
                                <small class="text-muted">{{ question.created.strftime('%Y-%m-%d') }}</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </main>
</div>
{% endif %}
{% endblock%}